.nav{
    text-decoration: dashed;
    padding-right: 100px;
    margin: auto;
    font-size: 20px;
    text-align: center;
}

div{
    background-color: #232f3e;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: auto;
}

.login{
    padding-left: 500px;
    color: white
}

a{
    text-decoration: none;
}
a:link{
    color:white
}
a:visited{
    color: white;
}
a:hover{
    color: red;
}
a:active{
    color: white;
}

